<section class="c-categories-filter">
  <header class="c-categories-filter__header">
    <h2 class="t-heading t-heading--md">
      Filter by category
    </h2>
    <span class="t-text t-text--bold">
      <%= pluralize(categories.length + 1, "item") %>
    </span>
  </header>
  <div class="c-categories-filter__content c-card">
    <div class="u-scroll-viewport">
      <ul class="c-categories-filter__list u-scroll-content">
        <li>
          <%= render "components/filter_item",
            title: "All categories",
            custom_img: { text: "all" },
            image: nil
          %>
        </li>
        <% categories.each do |category| %>
          <li>
            <%= render "components/filter_item",
              title: category.name,
              custom_img: nil,
              image: {
                file: category.image,
                alt: "category icon",
                placeholder: "category_placeholder.png"
              }
            %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>