<div class="c-summary u-scroll-viewport">
  <ul class="c-summary__list u-scroll-content">
    <%= render "components/summary_item", 
      title: "Positives",
      icon_path: "icons/sprite.svg#income",
      value: positives_balance,
      text: "Sum of all categories with a positive balance",
      primary: false
    %>

    <%= render "components/summary_item", 
      title: "Negatives",
      icon_path: "icons/sprite.svg#expense",
      value: negatives_balance,
      text: "Sum of all categories with a nagative balance",
      primary: false
    %>

    <%= render "components/summary_item", 
      title: "Total",
      icon_path: "icons/sprite.svg#total",
      value: total_balance,
      text: "Sum of all categories balances",
      primary: true
    %>
  </ul>
</div>

