.l-form-section {
  padding: 0 2.4rem 3.2rem;
  margin-top: -10rem;

  @include respond-to('min', 'screen-lg') {
    padding-bottom: 6.4rem;
  }

  &__content {
    max-width: 60rem;
    text-align: center;
    padding: 2.4rem;
    margin: 0 auto;

    @include respond-to('min', 'screen-lg') {
      padding: 6.4rem 4.8rem;
    }
  
    & > *:not(:last-child) {
      margin-bottom: 3.2rem;
    }
  }  
}