.c-category-option {
  display: flex;
  align-items: center;
  background-color: #fafafa;
  border-radius: var(--border-radius);
  // border-radius: 8px;
  border: 1px solid #e7eae7;
  box-shadow: var(--shadow-2);
  text-align: left;
  padding: 0.9rem 1.2rem;

  &__img {
    @include roundElem(4.8rem);

    object-fit: cover;
    box-shadow: var(--shadow-1);
    margin-right: 1.6rem;
  }

  &__title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-word;
    overflow: hidden;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    text-transform: capitalize;
    margin-bottom: 0.4rem;
  }

  &__price {
    font-size: 1.2rem;
    font-style: italic;
    color: #65676b;
  }

  &__checkbox-container {
    @include centerWithFlex;
  }

  &__checkbox {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1.2rem;
  }
}
