.c-summary {
  display: flex;
  // overflow: hidden;
  margin-top: -10rem;

  &__list {
    display: flex;
    flex-direction: row-reverse;
    gap: 1.6rem;
    padding: 0 2.4rem;
    margin: 0 auto;

    @include respond-to('min', 'screen-lg') {
      flex-direction: row;
      // width: 100%;
      // max-width: 160rem;
      gap: 3.2rem;
    }
  }
}