.c-transaction-li {
  padding: 1.7rem 2.8rem 1.8rem 2.4rem;

  &__value {
    margin-top: 0.2rem;
  }

  &__info {
    @include spaceBetween;

    margin-top: 1.9rem;
  }

  &--income {
    .c-transaction-li__value {
      color: var(--color-positive-value);
    }
  }

  &--expense {
    .c-transaction-li__value {
      color: var(--color-negative-value);
    }
  }
}
