<section class="p-new-category">
  <header class="p-new-category__header c-card">
    <h1 class="c-section-title">New category</h1>
    <%= link_to 'javascript:history.back()', class: "c-icon-btn" do %>
      <svg class="c-icon--sm">
        <use xlink:href=<%= image_url("icons/sprite.svg#chevron-left")%>></use>
      </svg>
    <% end %>
  </header>
 
  <div class="p-new-category__content">
    <%= render "form", category: @category %>
  </div>
</section>